// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.body{
  background-color: #fff;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.table {    
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}

.thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

div.field, div.actions {
  margin-bottom: 10px;
}

h5 {
  font-size: 13px;
  font-weight: 40;
  margin-top: 10px;
  margin-bottom: 0;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

a{
  
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

@media (max-width: 600px) {
  .link-buttons {
    flex-wrap: wrap;  /* アイテムが折り返す */
    gap: 5px;
  }
}

.box-title {
  margin-top: 0;
  margin-bottom: 0;
}

.box-body {
  margin-top: 0;
  margin-bottom: 0;
}

.error{
  border: 2px solid red;
  padding-top: 0;
}

.error-message{
  color: white;
  background-color: red;
  margin-top: 0;
}

.error-contents{
  padding: 50px 70px;
}

.notice {
  color: green;
}

.field_with_errors {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}

.field_with_errors input[type="text"],
.field_with_errors textarea {
  border: 2px solid red;
}

.field_with_errors label[for="book_title"] {
  background-color: red;
}

.field_with_errors label[for="book_body"] {
  background-color: red;
}

.field{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.action{
  display: flex;
  justify-content: flex-start;
}

form{
  width: 30%;
}